/* main {
    display: flex;
} */


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 85%;
    margin: auto;
}

h1 {
    background-image: url(/images/about-images.jpg);
    background-position: 20% 20%;
    background-size: cover;
    width: 100%;
    height: 240px;
    color: #D99923;
    text-align: center;
    padding-top: 10px;
    text-shadow: #D999 0 3px 6px;
}