body{
    background-image: url(/images/homepage_desktop.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

h1, p {
    text-align: center;
}

h1 {
    margin-bottom: 
    0px;
}

p {
    margin-bottom: 80px;
}

.logo-white{
    display: none;    
}

.logo-black{
    width: 320px;
    align-self: center;

}

@media only screen and (min-width: 1024px) {

    body{
        background-image: url(/images/homepage_desktop.jpg);
    }

    .logo-black{
        display: none;
    }

    .logo-white{
        display: block;
        width: 600px;
        margin-top: 100px;
    }

}